body {
    font-family: 'Inter', sans-serif;
}

.primary-btn {
    background-color: #1fb800;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s;
}

.primary-btn:hover {
    background-color: #198f00;
}

.custom-shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}
